@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-surface-primary text-white antialiased;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-surface-primary;
}

::-webkit-scrollbar-thumb {
  @apply bg-surface-elevated rounded-full;
}
